<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/styles/auth/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>
</head>
<body>
    <a id="back-btn" th:href="@{/}"><i class="fas fa-arrow-left"></i> Go back home</a>
    <div class="box">
        <div class="form">
            <form th:action="@{/setup-profile-info}" th:object="${user}" method="post">
                <h2>SIGN UP</h2>
                <div class="inputBox">
                    <input type="text" th:field="*{username}" required>
                    <span>Username</span>
                    <i></i>
                </div>
                <div class="inputBox">
                    <input type="password" th:field="*{password}" minlength="6" maxlength="255" required>
                    <span>Password</span>
                    <i></i>
                </div>
                <input type="submit" value="Register">
                <div class="links">
                    <a th:href="@{/login}">Have an account? Log-in</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>