<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Setup your profile</title>
    <link rel="stylesheet" href="/styles/patient/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>
</head>
<body>
    <div class="appointments">
        <h1><i class="fas fa-plus"></i> Setup your profile</h1>
        <form th:action="@{/register-success}" method="post" th:object="${patient}">
            <div class="form-group row">
                <input type="hidden" th:field="*{id}"/>
                <p>First name: <input type="text" th:field="*{firstName}" required></p>
                <p>Last name: <input type="text" th:field="*{lastName}" required></p>
                <p>Age: <input type="number" th:field="*{age}" required></p>
                <p><input type="hidden" th:field="*{user}"></p>
                <input type="submit" value="Setup">
            </div>
        </form>
    </div>
</body>
</html>